.navigation-bar
  %ul
    %li= link_to 'Dale', 'http://dhemery.com/'
    %li= link_to 'Consulting', 'http://dhemery.com/consulting/'
    %li= link_to 'Blog', '/'
    %li= link_to 'Articles', 'http://dhemery.com/articles/'
    %li= link_to 'About', 'http://dhemery.com/about/'
    %li= link_to 'Contact', 'http://dhemery.com/contact/'
